<div class="container">

<p><h2>Name:</h2><%= @product.name %></p>
<p><img src=<%= @product.image %>></p>
<p><h2>Price:</h2><%= @product.price %></p>
<p><h2>Description:</h2><%= @product.description %></p>
<p><h2>Stock:</h2><%= @product.stock %></p>

</div>